* {
    box-sizing: border-box;
    margin:0;
    outline:0;
    padding:0;
}

:root {
    --light-blue: #00A0A0;
    --dark-blue: #004646;
    --black: #282828;
    --white: #F0F0F0;
    --grey: #F2F2F2;
}

/*****Navbar******/

.home-nav {
    background-color: var(--light-blue);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    margin: 0;
    left: 0px;
    border-bottom: 2px solid var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}

.nav-links {
    float: left;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--white)
}

.nav-links:hover {
    color: var(--dark-blue);
}

#home-icon {
    width: 38px;
    height: 38px;
}

/*****Home Header*****/

.home-header {
    padding: 180px 0px 120px 0px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    background-image: url("images/hawaii-homebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 34%;
}

.title-description {
    font-size: 24px;
    
}

.home-header > * {
    color: var(--white);
}

/******Home Content Container******/

.container-home-content section {
    grid-area: section;
}

.container-home-content aside {
    grid-area: aside;
}

.container-home-content {
    display: grid;
    grid-template-columns: 74.5% 24.5%;
    grid-template-areas: "section aside";
    grid-column-gap: 1%;
    margin: 16px 22px;
}

.container-home-content > * {
    border: 1px solid black;
}

/*****City Content Container*****/

.container-city-content header {
    grid-area: header;
    text-align: center;
    font-size: 38px;
    padding: 12px 0; 
    
}

.container-city-content section {
    grid-area: section;
}

.container-city-content aside {
    grid-area: aside;
}

.container-city-content {
    margin: 77px 22px 16px 22px;
    display: grid;
    grid-template-columns: 74.5% 24.5%;
    grid-column-gap: 1%;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas: 
        "header aside"
        "section aside";
}

.container-city-content > * {
    border: 1px solid black;
}
