* {
    box-sizing: border-box;
    margin:0;
    outline:0;
    padding:0;
}

:root {
    --light-blue: #00A0A0;
    --dark-blue: #004646;
    --black: #282828;
    --white: #F0F0F0;
    --grey: #F2F2F2;
    --dark-grey: #F7F7F7;
}

/*****Navbar******/

.home-nav {
    background-color: var(--light-blue);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    margin: 0;
    left: 0px;
    border-bottom: 2px solid var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}

.nav-links {
    float: left;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--white)
}

.nav-links:hover {
    color: var(--dark-blue);
}

#home-icon {
    width: 38px;
    height: 38px;
}

/*****Home Header*****/
.home-header {
    padding: 180px 0px 120px 0px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    background-image: url("images/hawaii-homebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 34%;
}

.title-description {
    font-size: 24px;
    
}

.home-header > * {
    color: var(--white);
}

/******Home Content Container******/
.container-home-content section {
    grid-area: section;
}

.container-home-content aside {
    grid-area: aside;
}

.container-home-content {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "section aside";
    grid-column-gap: 0;
}

/*****Home Welcome Section*****/
.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 5%
}

.welcome-image {
    max-width: 40%;
    max-height: fit-content;
    border-radius: 8px;
    margin: 80px 30px;
}

.welcome-message {
    color: var(--dark-blue);
    margin-right: 2%;
    text-align: center;
}

.welcome-message h1{
    font-size: 50px;
}

.welcome-message p {
    font-size: 24px;
    padding-top: 20px;
    line-height: 200%;
}

/*****"What to Expect" Section*****/
.what-to-expect-section {
    background-color: var(--dark-grey);
    padding: 1.375rem 0 2.575rem 0;
}

.separator {
    width: 35%;
    display: inline-block;
    margin: 34px 18px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#what-to-expect {
    text-align: center;
    padding: 20px;
    font-size: 2.3rem;
    color: var(--dark-blue);
}

.wte-section-content.text-1 {
    grid-area: text-1;
}

.wte-section-content.icon-1 {
    grid-area: icon-1;
}

.wte-section-content.text-2 {
    grid-area: text-2;
}

.wte-section-content.icon-2 {
    grid-area: icon-2;
}

.wte-section-content.text-3 {
    grid-area: text-3;
}

.wte-section-content.icon-3 {
    grid-area: icon-3;
}

.wte-section-content {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: left;
    align-items: center;
    margin: 1.6rem 8rem 0 11rem; 
    gap: 3.875rem 4rem;
    grid-template-areas: 
        "icon-1 text-1"
        "icon-2 text-2"
        "icon-3 text-3";
}

.wte-section-content p {
    font-size: 1.475em;
    color: var(--dark-blue);
}

/*****Aside*****/
aside {
    background-color: var(--grey);
}

.aside-title {
    font-size: 36px;
    text-align: center;
    padding: 32px 0 38px 0; 
    color: var(--dark-blue);
}

.aside-links {
    display: flex;
    justify-content: left;
    padding-left: 15%;
    flex-direction: column;
    gap: 4px;
}

.aside-links a {
    color: var(--black);
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.aside-links a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

/*****City Content Container*****/

.container-city-content header {
    grid-area: header;
    text-align: center;
    font-size: 38px;
    padding: 12px 0; 
    
}

.container-city-content section {
    grid-area: section;
}

.container-city-content aside {
    grid-area: aside;
}

.container-city-content {
    margin: 77px 22px 16px 22px;
    display: grid;
    grid-template-columns: 74.5% 24.5%;
    grid-column-gap: 1%;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas: 
        "header aside"
        "section aside";
}

.container-city-content > * {
    border: 1px solid black;
}
