* {
    box-sizing: border-box;
    margin:0;
    outline:0;
    padding:0;
    font-family: 'Inknut Antiqua';
}

:root {
    --light-blue: #00A0A0;
    --dark-blue: #004646;
    --black: #282828;
    --white: #F0F0F0;
    --grey: #F2F2F2;
    --light-grey: #F7F7F7;
}

/*****Navbar******/

.home-nav {
    background-color: var(--light-blue);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    margin: 0;
    left: 0px;
    border-bottom: 2px solid var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
}

.nav-links {
    float: left;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--white)
}

.nav-links:hover {
    color: var(--dark-blue);
}

#home-icon {
    width: 38px;
    height: 38px;
}

/*****Home Header*****/
.home-header {
    padding: 180px 0px 120px 0px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    background-image: url("images/hawaii-homebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 34%;
}

.title-description {
    font-size: 0.5em;
}

.home-header > * {
    color: var(--white);
}

.home-title {
    font-size: 1.6em;
}

/******Home Content Container******/
.container-home-content section {
    grid-area: section;
}

.container-home-content aside {
    grid-area: aside;
}

.container-home-content {
    display: grid;
    grid-template-columns: 77.5% 22.5%;
    grid-template-areas: "section aside";
    grid-column-gap: 0;
}

/*****Home Welcome Section*****/
.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2%
}

.welcome-image {
    max-width: 40%;
    max-height: fit-content;
    border-radius: 8px;
    margin: 80px 30px;
}

.welcome-message {
    color: var(--dark-blue);
    margin-right: 2%;
    text-align: center;
}

.welcome-message h1{
    font-size: 2.4rem;
}

.welcome-message p {
    font-size: 1.3rem;
    line-height: 200%;
}

/*****"What to Expect" Section*****/
.what-to-expect-section {
    background-color: var(--light-grey);
    padding: 1.375rem 0 2.575rem 0;
}

.separator {
    width: 35%;
    display: inline-block;
    margin: 34px 18px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#what-to-expect {
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--dark-blue);
}

.wte-section-content.text-1 {
    grid-area: text-1;
}

.wte-section-content.icon-1 {
    grid-area: icon-1;
}

.wte-section-content.text-2 {
    grid-area: text-2;
}

.wte-section-content.icon-2 {
    grid-area: icon-2;
}

.wte-section-content.text-3 {
    grid-area: text-3;
}

.wte-section-content.icon-3 {
    grid-area: icon-3;
}

.wte-section-content {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: left;
    align-items: center;
    margin: 1.6rem 8rem 0 11rem; 
    gap: 3.875rem 4rem;
    grid-template-areas: 
        "icon-1 text-1"
        "icon-2 text-2"
        "icon-3 text-3";
}

.wte-section-content p {
    font-size: 1.1em;
    color: var(--dark-blue);
}

/*****Statistics Section*****/
.stats-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
}

.statistics-section {
    margin: 6rem 0;
    padding: 7rem 0;
    background-image: url("images/pinapplewebbackground.jpg");
    background-size: cover;
    display: grid; 
    justify-items: center;
    align-items: center;
    gap: 2rem;
    grid-template-areas: "box-1 box-2";
}

.stats-box p, h3 {
    color: var(--white);
}

.stats-box p {
    font-size: 1.2rem;
}

.stats-box h3 {
    font-size: 3.2rem;
    font-weight: bold;
}

/*****Comment Section*****/
.comment-section {
    background-color: var(--light-grey);
    padding: 2rem 0;
}

.comment-section h2 {
    font-size: 1.6rem;
    padding-bottom: 1.6rem;
    text-align: center;
}

.input-container {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 1rem;
}

.input-container div label {
    font-size: 1rem;
}

.input-container div input {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

.input-container div textarea {
    width: 100%;
    height: 6rem;
    margin-top: 0.4rem;
}

.submit-button {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
}

.submit-button input {
    font-size: 1.2rem;
    border: 1px solid var(--light-blue);
    border-radius: 4px;
    background-color: var(--light-blue);
    color: var(--white);
    padding: 0.5rem 1rem;
}

#error-message {
    color: red;
    font-size: 0.7rem;
}

/*****Aside*****/
aside {
    background-color: var(--grey);
}

.aside-title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem; 
    color: var(--dark-blue);
}

.aside-links {
    display: flex;
    justify-content: left;
    padding-left: 15%;
    flex-direction: column;
    gap: 1rem;
}

.aside-links a {
    color: var(--black);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.aside-links a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

/*****City Content Container*****/

.container-city-content header {
    grid-area: header;
    text-align: center;
    font-size: 38px;
    padding: 12px 0; 
    
}

.container-city-content section {
    grid-area: section;
}

.container-city-content aside {
    grid-area: aside;
}

.container-city-content {
    margin: 77px 22px 16px 22px;
    display: grid;
    grid-template-columns: 74.5% 24.5%;
    grid-column-gap: 1%;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas: 
        "header aside"
        "section aside";
}
